body{
    padding: 100px;
}


#submit-area{
  
    margin-top: 30px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px gray;
}


#SineIn{
display: none;

   
}

#Signein:hover{
    background-color: blue;
}
#SineIn h1{
    text-align: center;
}

  .border{
    border: 1px solid green
  }
#transaction-area{
    display: none;
}



.status{
    margin: 0 20px;
    color: white;
}
/* Movilescreen */


@media(max-width:700px){
    body{
        padding: 5px;
    }
    
  #transaction-area{
    
        display: none;
        position: relative;
     
    

    }



   
}
    


